body {
background: #edf4fb;
}



h1{
text-align:center;
background-color:#86e5fc;
font-size: 43px;
font-family:monospace;
color:white;
padding:20px;
text-shadow: 0 2px 1px rgba(0,0,0,0.5);
}

h2{
text-align: center;
background-color:transparent;
font-size:40px;
font-family:monospace;
text-shadow: 0 2px 1px rgba(0,0,0,0.5);
}

h3{
font-family:monospace;
font-size:30px;
text-shadow: 0 2px 1px rgba(0,0,0,0.5);
}



p{
font-family:monospace;
font-size:20px;
}



#nav{
text-align:left;
}

*{
box-sizing: border-box;
}

.column{
float:left;
width:50%;
padding:30px;
}

.row:after{
content: "";
display:table;
clear:both;
}

img{

bottom:5px;
left:10px;

}


footer {
text-align: center;
font-size:15px;
font-family:monospace;
}	

/*CSS List Test for PNGs*/
#nav{
padding:20px;
background-color: transparent;
}

#nav li{
display: inline-block;
position:relative;
vertical-align:bottom;
margin-right:25px;
text-decoration:none;
color:#86e5fc;

}

#nav li:last-child{
margin-right: 0px;
}

li a{
display: block;
width: 300px;
height: 175px;
padding:20px;
padding-top: 20px;
text-decoration: none;
border-radius: 10px;
}

a span{
font-family:monospace;
font-size:1.5em;
position:absolute;
bottom:5px;
width:inherit;
text-align: center;
color:black;
}

li a:link, li a:visited, li a:active{
background-color: #86e5fc;
color: #eee;
}

li a:hover{
background-color: #daf7fe;
}

.shira a{
background-image: url(../images/shira.png);
background-repeat: no-repeat;
background-position: center 50%;
}

.gura a{
background-image: url(../images/gura.png);
background-repeat: no-repeat;
background-position: center 50%;
}

.kobo a{
background-image: url(../images/kobo.png);
background-repeat: no-repeat;
background-position: center 50%;
}


@media only screen and (max-width: 900px) {
#header{height:150px;
}

.column{
width:100%;
}
}