body {
background: #edf4fb;
}


h1{
text-align:center;
background-color:#86e5fc;
font-size: 50px;
font-family:monospace;
color:white;
padding:20px;
text-shadow: 0 2px 1px rgba(0,0,0,0.5);
}

h2{
font-family:monospace;
text-align:center;
font-size:40px;
text-shadow: 0 2px 1px rgba(0,0,0,0.5);
}

h3{
text-align:center;
font-family:monospace;
font-size:35px;
text-shadow: 0 2px 1px rgba(0,0,0,0.5);
}

p{
text-align:center;
font-family:monospace;
font-size:20px;
}

img{
padding:20px;
display:block;
margin-left:auto;
margin-right:auto;
border:12px black;
}

#nav li{
list-style:none;
margin:0em;
background-color:transparent;
font-size:30px;
display:block;
float:left;
text-decoration:none;
padding-left:5px;
padding-right:10px;
text-shadow: 0 2px 1px rgba(0,0,0,0.5);
position:fixed;
bottom:5px;
right:10px;
}

li a{
text-decoration:none;
color:#86e5fc;
font-family:monospace;
}

video {
display:block;
margin:auto;
}

table, th, td {
text-align:center;
border: 3px solid;
font-family:monospace;
font-size: 20px


}


footer {
text-align: center;
font-size:15px;
font-family:monospace;
}	

.center{
margin-left:auto;
margin-right:auto;
}

@media only screen and (max-width: 800px) {
#header{height:150px;
}

.column{
width:100%;
}
}


a:link { color: white; }
a:hover { color: #00638b; }
a:active { color: #008b14; } 
a:focus { color: #00638b; }
p, li { line-height: 1.25em; }
em { font-weight: bold;}