body { background-color: gray; font-family: Helvetica, Arial, sans-serif; } 
h1, h2, h3, h4, h5, h6 { font-family: Georgia, serif; }
#nav { background-color: #dddddd; }
a, a:link { #008b14; }
a:link { #008b14; }
a:visited { #649a00; }
a:hover { #00638b; }
a:active { #008b14; } 
a:focus { #00638b; }
