*{
padding:0 0 0 0;
margin: 0 0 0 0;
box-sizing: border-box;
}

body { 
background-color: #cccccc; 
font-family: Helvetica, Arial, sans-serif;
font-size: 1em;
background-image: url(../images/bg_body.png);
background-repeat: repeat-x;
background-position: left top;
 } 

blockquote {
font-size: 2.5em;
width: 16.5em;
margin: 0 auto;
padding: 10px 10px 10px 45px;
color: #777;
font-family: Georgia, serif;
font-style: oblique;
background-image: url(../images/bigquote.png);
background-repeat: no-repeat;
background-position: left 8%;
}

blockquote footer{
display: block;
font-size: .4em;
font-color: #888;
text-align: right;
}

p{
margin-bottom: .625em;
}

  table, tr, th, td{border:1px solid black;}
   th, td{ padding: 4px;}
h1, h2, h3, h4, h5, h6 { font-family: Georgia, serif; }

#nav { background-color: #dddddd;
padding: 5px 10px;
margin-bottom: 10px; }

#container{
width: 60em;
margin: 0px auto;
}

#header{
margin-top: 20px;
margin-bottom: 20px;
}

#header img{
border: 1px solid;
border-color: #000000;
background-color: #FFFFFF;
padding: 5px 5px;
}

a { color: #008b14; }
a:link { color: #008b14; }
a:visited { color: #649a00; }
a:hover { color: #00638b; }
a:active { color: #008b14; } 
a:focus { color: #00638b; }
p, li { line-height: 1.25em; }
<!-- He wants you to use the parent p and symbol > because if you simply say any em wrapped text then things in tables that  you might not want italicized and bold would also be made bold.-->
em { font-weight: bold;}
