h1{
text-align:center;
background-color:#86e5fc;
font-size: 50px;
font-family:monospace;
color:white;
padding:20px;
text-shadow: 0 2px 1px rgba(0,0,0,0.5);
padding-left:5px;
}

h2{
font-family:monospace;
text-align:center;
font-size:40px;
text-shadow: 0 2px 1px rgba(0,0,0,0.5);
}

h3{
text-align:center;
font-family:monospace;
font-size:35px;
text-shadow: 0 2px 1px rgba(0,0,0,0.5);
}


p{
text-align:center;
font-family:monospace;
font-size:20px;
}

#nav li{
list-style:none;
margin:0em;
background-color:transparent;
font-size:30px;
display:block;
float:left;
text-decoration:none;
padding-left:5px;
padding-right:10px;
text-shadow: 0 2px 1px rgba(0,0,0,0.5);
position:fixed;
bottom:5px;
right:10px;

}



@media only screen and (max-width: 800px) {
#header{height:150px;
}

.column{
width:100%;
}
}

fieldset{
text-align:center;
font-family:monospace;
font-size:30px;
text-shadow: 0 2px 1px rgba(0,0,0,0.5);
border-color:#86e5fc;
border-width:10px;
}

li{
font-family:monospace;
font-size:18px;
list-style:none;
padding:10px;
}

li a{
text-decoration:none;
color:#86e5fc;
}

a:link { color: white; }
a:hover { color: #00638b; }
a:active { color: #008b14; } 
a:focus { color: #00638b; }
p, li { line-height: 1.25em; }
em { font-weight: bold;}